<div class="row">
  <div class="col-2">
      <input type="file" name="foto" (change)="onFileSelected($event)" #fileInput>
      <img [src]="imagePreview ?? './assets/img/defaultuser.jpg'" class="img-fluid pointer" (click)="onImageClick(fileInput)">
      <a href="#" class="link-danger d-block text-center" #cancelLink (click)="cancelImage(cancelLink, $event)" *ngIf="imagePreview">Cancelar</a>
      <button class="btn btn-primary d-none" (click)="onUpload()">Subir Imagen</button>
  </div>
  <div class="col-10">
    <div class="">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="platilloForm" >
            <div class="row mb-3">
              <div class="col">
                  <input type="text" class="form-control px-3 py-2 rounded-1" placeholder="Ingrese nombre" formControlName="nombre" (blur)="validationService.cleanField($event, platilloForm.get('nombre')!)">
                  <div *ngIf="platilloForm.get('nombre')?.invalid && platilloForm.get('nombre')?.touched">
                    <span class="text-danger form-error-msg">{{ validationService.errorMessage(platilloForm.get('nombre')!) }}</span>
                  </div>
              </div>
              <div class="col">
                <input type="text" class="form-control px-3 py-2 rounded-1" placeholder="Ingrese descripción" formControlName="descripcion" (blur)="validationService.cleanField($event, platilloForm.get('descripcion')!)">
                <div *ngIf="platilloForm.get('descripcion')?.invalid && platilloForm.get('descripcion')?.touched">
                  <span class="text-danger form-error-msg">{{ validationService.errorMessage(platilloForm.get('descripcion')!) }}</span>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <!-- <input type="text" class="form-control px-3 py-2 rounded-1" placeholder="Ingrese ingredientes" formControlName="ingredientes" (blur)="validationService.noSpaces($event, platilloForm.get('ingredientes')!)"> -->
                <textarea class="form-control px-3 py-2 rounded-1" placeholder="Ingrese ingredientes" formControlName="ingredientes"></textarea>
                <div *ngIf="platilloForm.get('ingredientes')?.invalid && platilloForm.get('ingredientes')?.touched">
                  <span class="text-danger form-error-msg">{{ validationService.errorMessage(platilloForm.get('ingredientes')!) }}</span>
                </div>
              </div>
              <div class="col">
                <input type="text" class="form-control px-3 py-2 rounded-1" placeholder="Ingrese precio" formControlName="precio" (blur)="validationService.cleanField($event, platilloForm.get('precio')!)">
                <div *ngIf="platilloForm.get('precio')?.invalid && platilloForm.get('precio')?.touched">
                  <span class="text-danger form-error-msg">{{ validationService.errorMessage(platilloForm.get('precio')!) }}</span>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-md mt-4 rounded-1" (click)="crearPlatillo()">
              <app-spinner spinner="button"></app-spinner>
              Crear Platillo
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


